EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_CARD_BASE_URL=https://whenbollae.app
EXPO_PUBLIC_ADMOB_BANNER_UNIT_ID=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_UNIT_ID=
ADMOB_ANDROID_APP_ID=
ADMOB_IOS_APP_ID=
